<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.dxcetra.DiceBot" android:installLocation="preferExternal" android:versionName="0.9.6" android:versionCode="4">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Stupid Dice Bot" android:icon="@drawable/icon"></application>
</manifest>